.container{
    margin-top:4.1rem;
    margin-left: 3rem;;
}


.path{
    width:90%;
    height:3.25rem;
    padding:0.75rem 1.25rem;
    background-color: white;
    border-radius:10px;
    margin-bottom:1rem;
    .blue{
        color:rgba(10, 106, 218, 1)
    }
}